# Required packages
sphinx==5.3.0
sphinx_rtd_theme==1.1.1
readthedocs-sphinx-search==0.3.2
#RNifti==1.4.5
#stringr==1.5.0
#rmarchingcubes==0.1.3
#rgl==1.1.3
#fields==14.1
#abind==1.4-5
#png==0.1-8
#Rvcg==0.22.1
#oce==1.8.0

